input.tempo {
  position: absolute;
  bottom: 5vh;
  left: 37.5vw;
  -webkit-appearance: none;
  width: 25vw;
  height: 5vh;
  border-radius: 5vh;  
  border: 1px solid #aaa;
  background: #fff;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

input.tempo::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 5vh;
  height: 5vh;
  border-radius: 5vh; 
  background: #88F;
}

input.tempo::-moz-range-thumb {
  width: 5vh;
  height: 5vh;
  border-radius: 5vh;
  background: #88F;
}
